<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/qs/6.10.1/qs.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/qs/6.10.1/qs.min.js"></script>
    <title>Gin Hello</title>
</head>
<script>

    axios.post('/test', Qs.stringify({
        name: 'java',

    }))
        .then((response) => console.log(response))
        .catch((error) => console.log(error))
</script>

<body>
    <h1>Hi IT Home</h1>
</body>

</html>